<nav class="navbar">
    <div class="site-title"> The Articles </div>

    <div class="navigation">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/about">About</a>
        <a class="nav-item" href="/contact">Contact Us</a>
        <div class="nav-item admin">Admin</div>
        <form class="password-form">
            <input type="password" class="admin-password" name="admin-password" required>
        </form>

        <script>
            $('.admin-password').css("display", "none");

            $('.admin').on({
                "click": function() {
                    $('.admin').css("display", "none");
                    $('.admin-password').css({
                        "display": "block",
                    });
                    $('.admin-password').focus();
                },
            });

            $('.admin-password').on({
                "blur": function() {
                    $('.admin-password').css("display", "none");
                    $('.admin').css("display", "block");
                },
                "keypress": function(e) {
                    if (e.which == 13) {
                        e.preventDefault();
                        if ($('.admin-password').val() == "Hello") {
                            window.location.href = '/articles/create';
                        }
                    }
                }
            });

        </script>
    </div>
</nav>