<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include("./components/header.ejs") %>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <%- include("./components/navbar.ejs", { loggedIn: loggedIn }) %>

        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="info">
                        <div class="mission">Our Mission</div>
                        <div class="mission-text">We exist to exhort others to live a wholehearted life for Christ and disrupt the lives of those
                            who live complacently. We want to accomplish this by writing articles that we are passionate about and integrating our 
                            testimonies with the goal of spurring each other on to not waste the little time we have on this earth.
                        </div>
                    </div>
                </div>
                <div class="col-4 margin">
                    <%- include("./components/recentArticles.ejs") %>
                </div>
            </div>
        </div>

        <%- include("./components/footer.ejs") %>

        <script src="" async defer></script>
    </body>
</html>