.art-title {
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 3em;
}

.art-body-container {
    margin-bottom: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-top: var(--black) solid 2px;
    border-bottom: var(--black) solid 2px;
}

.art-body {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.2em;
    white-space: pre-wrap;
}

h3 {
    margin-bottom: -2.5vh;
}

.delete {
    width: fit-content;
    margin-top: 1vh;
    padding: .2em;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    border: var(--black) solid 1px;
    background-color: var(--red);
    cursor: pointer;
}