body {
    background-color: black;
}

.white {
    height: 170%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: -1;
}

.info {
    height: 100vh;
}

.mission {
    margin-top: 2vh;
    font-size: 3em;
}

.mission-text {
    font-size: 1.2em;
}


/*************************************** Articles *****************************************/
.art-title {
    margin-top: 4vh;
    font-size: 2em;
    font-weight: bold;
}

.art-snippet {
    margin-top: 1vh;
    font-size: 1.2em;
}

/***************************************** About *****************************************/

.text-container {
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.subtitle {
    margin-top: -45vh;
    margin-bottom: 5vh;
    font-size: 5em;
    text-align: center;
}

.subtext {
    font-size: 3em;
    width: 65%;
}

.footer {
    color: white;
}

@media screen and (max-width: 1400px) {
    .subtitle {
        font-size: 4.5em;
    }

    .subtext {
        font-size: 2.5em;
        width: 70%;
    }
}

@media screen and (max-width: 1400px) {
    .subtitle {
        font-size: 4.5em;
    }

    .subtext {
        font-size: 2.5em;
        width: 75%;
    }
}

@media screen and (max-width: 991px) {
    .subtitle {
        margin-bottom: 3vh;
        font-size: 4em;
    }

    .subtext {
        font-size: 2em;
        width: 80%;
    }
}

@media screen and (max-width: 769px) {
    .subcontainer {
        height: 100vh;
    }

    .subtitle {
        margin-bottom: 3vh;
        font-size: 3em;
    }

    .subtext {
        font-size: 2em;
        width: 100%;
    }
}

@media screen and (max-width: 577px) {
    .subcontainer {
        height: 100vh;
    }

    .subtitle {
        margin-bottom: 3vh;
        font-size: 2em;
    }

    .subtext {
        font-size: 1.2em;
        width: 100%;
    }
}